 <style>
        body{
            background-color: rgb(118, 9, 180);
        }
        .period-tracker-result-heading{
            background-color: rgb(235, 213, 251);
        
        }
        h2{

            color: rgb(245, 245, 238);
        }

    </style>
